*, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.screen {
  height: 100vh;
}

.firstScreen {
  position: relative;
}
.firstScreen .backgroundImageBlock {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.firstScreen .backgroundImageBlock .colorImage {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: rgba(175, 34, 34, 0.3);
  position: absolute;
  z-index: 100;
}
.firstScreen .backgroundImageBlock .backgroundImage {
  min-width: 100%;
  max-width: 100%;
}
.firstScreen .backgroundImageBlock .mask {
  width: 100%;
  position: absolute;
  bottom: -5px;
  z-index: 101;
}
.firstScreen .backgroundImageBlock .mask img {
  min-width: 100%;
  max-width: 100%;
}
.firstScreen .logoAndText {
  padding-top: 150px;
  padding-left: 100px;
}
.firstScreen .logoAndText .logo {
  width: 450px;
  margin: 0 auto 30px auto;
}
.firstScreen .logoAndText .title {
  width: 600px;
  font: 800 54px "Roboto";
  color: #fff;
}
.firstScreen .logoAndText .subtitle {
  width: 600px;
  font: 36px "Roboto";
  color: #fff;
}
.firstScreen .phoneBlock {
  width: 1000px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.firstScreen .phoneBlock img {
  min-width: 100%;
  max-width: 100%;
}
.firstScreen .downloadAppMobile {
  display: none;
}
.firstScreen .downloadAppMobile a {
  width: 250px;
  display: inline-block;
}
.firstScreen .downloadAppMobile a:first-child {
  margin-right: 30px;
}
.firstScreen .downloadAppMobile a img {
  min-width: 100%;
  max-width: 100%;
}
.firstScreen .downloadApp {
  position: absolute;
  right: 200px;
  bottom: 150px;
}
.firstScreen .downloadApp a {
  width: 250px;
  display: inline-block;
}
.firstScreen .downloadApp a:first-child {
  margin-right: 30px;
}
.firstScreen .downloadApp a img {
  min-width: 100%;
  max-width: 100%;
}

@media screen and (min-device-width: 1367px) and (max-device-width: 1601px) {
  .firstScreen .phoneBlock {
    width: 700px;
    left: 55%;
  }
  .firstScreen .downloadApp {
    right: 100px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    padding-top: 100px;
    padding-left: 100px;
  }
  .firstScreen .logoAndText .logo {
    width: 450px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 600px;
    font: 800 36px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 600px;
    font: 28px "Roboto";
    color: #fff;
  }
}
@media screen and (min-device-width: 1280px) and (max-device-width: 1365px) {
  .firstScreen .phoneBlock {
    width: 700px;
    left: 55%;
  }
  .firstScreen .downloadApp {
    right: 100px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    padding-top: 100px;
    padding-left: 100px;
  }
  .firstScreen .logoAndText .logo {
    width: 450px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 600px;
    font: 800 36px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 600px;
    font: 28px "Roboto";
    color: #fff;
  }
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .firstScreen .phoneBlock {
    display: none;
  }
  .firstScreen .downloadApp {
    right: auto;
    left: 100px;
    bottom: 200px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .firstScreen .logoAndText .logo {
    width: 350px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 500px;
    font: 800 32px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 500px;
    font: 24px "Roboto";
    color: #fff;
    margin-bottom: 40px;
  }
  .firstScreen .downloadAppMobile {
    display: block;
  }
  .firstScreen .downloadApp {
    display: none;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .firstScreen .phoneBlock {
    display: none;
  }
  .firstScreen .downloadApp {
    right: auto;
    left: 100px;
    bottom: 200px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .firstScreen .logoAndText .logo {
    width: 250px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 500px;
    font: 800 32px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 500px;
    font: 24px "Roboto";
    color: #fff;
  }
  .firstScreen .downloadAppMobile {
    display: block;
  }
  .firstScreen .downloadApp {
    display: none;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .firstScreen .phoneBlock {
    display: none;
  }
  .firstScreen .downloadApp {
    right: auto;
    left: 100px;
    bottom: 200px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .firstScreen .logoAndText .logo {
    width: 250px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 500px;
    font: 800 32px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 500px;
    font: 24px "Roboto";
    color: #fff;
  }
  .firstScreen .downloadAppMobile {
    display: block;
  }
  .firstScreen .downloadApp {
    display: none;
  }
}