*, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.screen {
  height: 100vh;
  background: #fff;
  overflow-y: auto;
}

.pp-section {
  top: 0;
}

.firstScreen {
  position: relative;
}
.firstScreen .backgroundImageBlock {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.firstScreen .backgroundImageBlock .colorImage {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: rgba(175, 34, 34, 0.3);
  position: absolute;
  z-index: 100;
}
.firstScreen .backgroundImageBlock .backgroundImage {
  min-width: 100%;
  max-width: 100%;
}
.firstScreen .backgroundImageBlock .mask {
  width: 100%;
  position: absolute;
  bottom: -5px;
  z-index: 101;
}
.firstScreen .backgroundImageBlock .mask img {
  min-width: 100%;
  max-width: 100%;
}
.firstScreen .logoAndText {
  padding-top: 150px;
  padding-left: 100px;
}
.firstScreen .logoAndText a {
  width: 450px;
  height: 200px;
}
.firstScreen .logoAndText .logo {
  width: 450px;
  margin: 0 auto 30px auto;
}
.firstScreen .logoAndText .title {
  width: 600px;
  font: 800 54px "Roboto";
  color: #fff;
}
.firstScreen .logoAndText .subtitle {
  width: 600px;
  font: 36px "Roboto";
  color: #fff;
}
.firstScreen .phoneBlock {
  width: 1000px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.firstScreen .phoneBlock img {
  min-width: 100%;
  max-width: 100%;
}
.firstScreen .downloadAppMobile {
  display: none;
}
.firstScreen .downloadAppMobile a {
  width: 250px;
  display: inline-block;
}
.firstScreen .downloadAppMobile a:first-child {
  margin-right: 30px;
}
.firstScreen .downloadAppMobile a img {
  min-width: 100%;
  max-width: 100%;
}
.firstScreen .downloadApp {
  position: absolute;
  right: 200px;
  bottom: 150px;
}
.firstScreen .downloadApp a {
  width: 250px;
  display: inline-block;
}
.firstScreen .downloadApp a:first-child {
  margin-right: 30px;
}
.firstScreen .downloadApp a img {
  min-width: 100%;
  max-width: 100%;
}

.secondScreen .backgroundDecorations {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.secondScreen .backgroundDecorations .backgroundLine {
  width: 30px;
  height: 100%;
  position: absolute;
  left: 0;
  background: linear-gradient(180deg, #c91a03, #f7533d);
}
.secondScreen .backgroundDecorations .backgroundCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(270deg, #c91a03, #f7533d);
  position: absolute;
  top: -50px;
  right: -50px;
}
.secondScreen .content {
  padding: 0 50px;
}
.secondScreen .content .screenTitle {
  font: 800 54px "Roboto";
  text-align: center;
  margin: 60px 0;
}
.secondScreen .content .mainContent {
  padding: 100px 0;
}
.secondScreen .content .mainContent .number {
  color: #c91a03;
  font: 800 48px "Roboto";
  text-align: center;
  margin-bottom: 20px;
}
.secondScreen .content .mainContent .text {
  text-align: center;
  font: 28px "Roboto";
  height: 80px;
}
.secondScreen .content .mainContent .circleWithImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f7533d;
  box-shadow: 0 0 5px #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.secondScreen .content .mainContent .circleWithImage img {
  min-width: 125px;
  max-width: 125px;
}
.secondScreen .content .firstCol .number, .secondScreen .content .firstCol .text, .secondScreen .content .secondCol .number, .secondScreen .content .secondCol .text, .secondScreen .content .thirdCol .number, .secondScreen .content .thirdCol .text, .secondScreen .content .fourthCol .number, .secondScreen .content .fourthCol .text {
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 1s ease-in-out;
}
.secondScreen .content .firstCol .circleWithImage, .secondScreen .content .secondCol .circleWithImage, .secondScreen .content .thirdCol .circleWithImage, .secondScreen .content .fourthCol .circleWithImage {
  opacity: 0;
  transform: scale(0) translateY(50px);
  transition: 1s ease-in-out;
}

.thirdScreen .content, .fourthScreen .content, .fifthScreen .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thirdScreen .content .SliderNavigation, .fourthScreen .content .SliderNavigation, .fifthScreen .content .SliderNavigation {
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}
.thirdScreen .content .screenTitle, .fourthScreen .content .screenTitle, .fifthScreen .content .screenTitle {
  width: 500px;
  font: 800 54px "Roboto";
  text-align: center;
  margin-bottom: 50px;
}
.thirdScreen .content .sliderNav, .fourthScreen .content .sliderNav, .fifthScreen .content .sliderNav {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thirdScreen .content .sliderNav .navItems, .fourthScreen .content .sliderNav .navItems, .fifthScreen .content .sliderNav .navItems {
  width: 100px;
  height: 100px;
  background: #eeeeee;
  border-radius: 50%;
  font: 800 48px "Roboto";
  color: #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
  opacity: 0;
  transition: 0.25s ease-in-out;
}
.thirdScreen .content .sliderNav .navItems p, .fourthScreen .content .sliderNav .navItems p, .fifthScreen .content .sliderNav .navItems p {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdScreen .content .sliderNav .navItems p a, .fourthScreen .content .sliderNav .navItems p a, .fifthScreen .content .sliderNav .navItems p a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  text-decoration: none;
}
.thirdScreen .content .sliderNav .navItems:hover, .fourthScreen .content .sliderNav .navItems:hover, .fifthScreen .content .sliderNav .navItems:hover {
  background: #f7533dA0;
}
.thirdScreen .content .sliderNav .navItems:hover p, .fourthScreen .content .sliderNav .navItems:hover p, .fifthScreen .content .sliderNav .navItems:hover p {
  color: #fff;
}
.thirdScreen .content .sliderNav .navItems:last-child, .fourthScreen .content .sliderNav .navItems:last-child, .fifthScreen .content .sliderNav .navItems:last-child {
  margin-bottom: 0;
}
.thirdScreen .content .sliderNav .navItems.activeNavItem, .fourthScreen .content .sliderNav .navItems.activeNavItem, .fifthScreen .content .sliderNav .navItems.activeNavItem {
  background: #f7533d;
  color: #ffffff;
  width: 125px;
  height: 125px;
  box-shadow: 0 0 10px #f7533d;
}
.thirdScreen .content .sliderNav .navItems.activeNavItem p a, .fourthScreen .content .sliderNav .navItems.activeNavItem p a, .fifthScreen .content .sliderNav .navItems.activeNavItem p a {
  line-height: 125px;
}
.thirdScreen .content .slider, .fourthScreen .content .slider, .fifthScreen .content .slider {
  width: 830px;
  height: 830px;
  border: 15px solid #f7533d;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  transition: 1s ease-in-out;
  transform: scale(0);
}
.thirdScreen .content .slider .sliderWrapper, .fourthScreen .content .slider .sliderWrapper, .fifthScreen .content .slider .sliderWrapper {
  width: 100%;
  position: absolute;
}
.thirdScreen .content .slider.red, .fourthScreen .content .slider.red, .fifthScreen .content .slider.red {
  border-color: #f7533d;
}
.thirdScreen .content .slider.yellow, .fourthScreen .content .slider.yellow, .fifthScreen .content .slider.yellow {
  border-color: #F7AD3D;
}
.thirdScreen .content .slider.green, .fourthScreen .content .slider.green, .fifthScreen .content .slider.green {
  border-color: #80B808;
}
.thirdScreen .content .slider .slide, .fourthScreen .content .slider .slide, .fifthScreen .content .slider .slide {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  padding: 20px;
  overflow: hidden;
}
.thirdScreen .content .slider .slide p, .fourthScreen .content .slider .slide p, .fifthScreen .content .slider .slide p {
  text-align: center;
  font: 48px "Roboto";
  color: #272727;
  margin-bottom: 0;
}
.thirdScreen .content .slider .slide .imageWrapper, .fourthScreen .content .slider .slide .imageWrapper, .fifthScreen .content .slider .slide .imageWrapper {
  width: 600px;
  height: 600px;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thirdScreen .content .slider .slide .imageWrapper img, .fourthScreen .content .slider .slide .imageWrapper img, .fifthScreen .content .slider .slide .imageWrapper img {
  min-width: 100%;
  max-width: 100%;
}
.thirdScreen .content .slider .slide.active, .fourthScreen .content .slider .slide.active, .fifthScreen .content .slider .slide.active {
  opacity: 1;
}

.sixthScreen .content, .eighthScreen .content {
  padding: 0 50px;
}
.sixthScreen .content .screenTitle, .eighthScreen .content .screenTitle {
  font: 800 54px "Roboto";
  text-align: center;
  margin: 60px 0;
}
.sixthScreen .content .carouselAndListBlock, .eighthScreen .content .carouselAndListBlock {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
}
.sixthScreen .content .carouselAndListBlock .carouselWrapper, .eighthScreen .content .carouselAndListBlock .carouselWrapper {
  display: flex;
  align-items: center;
}
.sixthScreen .content .carouselAndListBlock .carouselWrapper .applicationNumber, .eighthScreen .content .carouselAndListBlock .carouselWrapper .applicationNumber {
  color: #272727;
  font: 24px "Roboto";
  text-align: center;
  margin: 10px 0;
}
.sixthScreen .content .carouselAndListBlock .decorationLine, .eighthScreen .content .carouselAndListBlock .decorationLine {
  width: 20px;
  position: relative;
  margin: 0 30px;
}
.sixthScreen .content .carouselAndListBlock .decorationLine.red .line, .sixthScreen .content .carouselAndListBlock .decorationLine.red .circle, .eighthScreen .content .carouselAndListBlock .decorationLine.red .line, .eighthScreen .content .carouselAndListBlock .decorationLine.red .circle {
  background: #f7533d;
}
.sixthScreen .content .carouselAndListBlock .decorationLine.green .line, .sixthScreen .content .carouselAndListBlock .decorationLine.green .circle, .eighthScreen .content .carouselAndListBlock .decorationLine.green .line, .eighthScreen .content .carouselAndListBlock .decorationLine.green .circle {
  background: #80B808;
}
.sixthScreen .content .carouselAndListBlock .decorationLine .line, .eighthScreen .content .carouselAndListBlock .decorationLine .line {
  width: 10px;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sixthScreen .content .carouselAndListBlock .decorationLine .circle, .eighthScreen .content .carouselAndListBlock .decorationLine .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sixthScreen .content .carouselAndListBlock .decorationLine .circle.first, .eighthScreen .content .carouselAndListBlock .decorationLine .circle.first {
  top: 0;
}
.sixthScreen .content .carouselAndListBlock .decorationLine .circle.second, .eighthScreen .content .carouselAndListBlock .decorationLine .circle.second {
  top: 33%;
}
.sixthScreen .content .carouselAndListBlock .decorationLine .circle.third, .eighthScreen .content .carouselAndListBlock .decorationLine .circle.third {
  top: 66%;
}
.sixthScreen .content .carouselAndListBlock .decorationLine .circle.last, .eighthScreen .content .carouselAndListBlock .decorationLine .circle.last {
  top: calc(100% - 20px);
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul, .eighthScreen .content .carouselAndListBlock .applicationsList ul {
  margin: 0;
  padding: 30px;
  list-style: none;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem:last-child, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem:last-child {
  margin-bottom: 0;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate {
  width: 150px;
  margin-right: 50px;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate .imageWrapper, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate .imageWrapper {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate img, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate img {
  height: 100%;
  border-radius: 5px;
  min-width: 100%;
  max-width: 100%;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate .date, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate .date {
  text-align: center;
  color: #272727;
  font: 100 14px "Roboto";
  margin: 0;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationText p.title, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationText p.title {
  margin-bottom: 15px;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationText p.title.green a, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationText p.title.green a {
  color: #80B808;
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationText p.title a, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationText p.title a {
  color: #f7533d;
  font: 800 18px "Roboto";
}
.sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationText p.description, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationText p.description {
  margin-bottom: 0;
  color: #000;
  font: 18px "Roboto";
}
.sixthScreen .content .carouselAndListBlock .applicationsList form.showMoreForm, .eighthScreen .content .carouselAndListBlock .applicationsList form.showMoreForm {
  margin-top: 10px;
}
.sixthScreen .content .carouselAndListBlock .applicationsList form.showMoreForm .showMoreButton, .eighthScreen .content .carouselAndListBlock .applicationsList form.showMoreForm .showMoreButton {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  line-height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: linear-gradient(-90deg, #c91a03, #f7533d);
  color: #ffffff;
  font: 24px "Roboto";
}
.sixthScreen .carousel, .sixthScreen .carousel2, .eighthScreen .carousel, .eighthScreen .carousel2 {
  width: 600px;
}
.sixthScreen .carousel-cell, .eighthScreen .carousel-cell {
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
}
.sixthScreen .carousel-cell img, .eighthScreen .carousel-cell img {
  width: 600px;
  border-radius: 30px;
  display: block;
  height: 550px;
}
.sixthScreen .flickity-viewport, .eighthScreen .flickity-viewport {
  position: relative;
}
.sixthScreen .flickity-slider img, .eighthScreen .flickity-slider img {
  max-width: none;
}
.sixthScreen .flickity-page-dots, .eighthScreen .flickity-page-dots {
  position: absolute;
  bottom: 50px;
}
.sixthScreen .flickity-page-dots .dot, .eighthScreen .flickity-page-dots .dot {
  width: 30px;
  height: 30px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
}
.sixthScreen .flickity-page-dots .dot.is-selected, .eighthScreen .flickity-page-dots .dot.is-selected {
  background-color: #f7533d;
}
.sixthScreen .carousel2 .flickity-page-dots .dot.is-selected, .eighthScreen .carousel2 .flickity-page-dots .dot.is-selected {
  background-color: #80B808;
}

.seventhScreen {
  overflow: hidden;
}
.seventhScreen .content {
  height: 100vh;
  position: relative;
}
.seventhScreen .content .background {
  position: relative;
}
.seventhScreen .content .background img {
  min-width: 100%;
  max-width: 100%;
}
.seventhScreen .content .background:before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(201, 26, 3, 0.3);
  position: absolute;
  top: 0;
}
.seventhScreen .content .text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seventhScreen .content .text p {
  color: #ffffff;
  font: 800 54px "Roboto";
  text-align: center;
}

.ninthScreen .content {
  padding: 0 50px;
}
.ninthScreen .content .screenTitle {
  font: 800 54px "Roboto";
  text-align: center;
  margin: 60px 0;
}
.ninthScreen .content form {
  margin: 0 auto;
}
.ninthScreen .content form .formWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ninthScreen .content form .firstCol {
  margin-right: 50px;
}
.ninthScreen .content form .formItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
}
.ninthScreen .content form .formItem p {
  width: 150px;
  max-width: 150px;
  font: 18px "Roboto";
  margin: 0 20px 0 0;
  padding: 5px 0;
}
.ninthScreen .content form .formItem .grayField {
  width: 300px;
  background: #eeeeee;
  border-radius: 5px;
  line-height: 40px;
  height: 50px;
  border: none;
  outline: none;
  padding: 5px 10px;
}
.ninthScreen .content form .formItem select.grayField {
  width: 505px;
}
.ninthScreen .content form .formItem input[type=button] {
  width: 200px;
  margin-left: 5px;
  font: bold 18px "Roboto";
  border: none;
  outline: none;
  background: #f7533d;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 20px;
  line-height: 40px;
}
.ninthScreen .content form .formItem input[type=button].green {
  background: #80B808;
}
.ninthScreen .content form .formItem textarea {
  width: 505px;
  min-height: 100px;
  max-height: 500px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #eeeeee;
  padding: 5px;
  resize: none;
}
.ninthScreen .content form .formItem input[type=submit] {
  width: 100%;
  font: bold 18px "Roboto";
  height: 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: linear-gradient(-90deg, #c91a03, #f7533d);
  color: #ffffff;
}
.ninthScreen .content form .formItem .input__wrapper {
  width: 150px;
  height: 150px;
}
.ninthScreen .content form .formItem .input__wrapper .input__file {
  display: none;
}
.ninthScreen .content form .formItem .input__wrapper .input__file-button {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.ninthScreen .content form .formItem .input__wrapper .input__file-button .input__file-icon-wrapper {
  background: #eeeeee;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ninthScreen .content form .formItem .input__wrapper .input__file-button .input__file-icon-wrapper .input__file-icon {
  width: 50px;
  height: 50px;
  stroke: #bebebe;
}
.ninthScreen .content form .formItem #map {
  width: 500px;
  height: 340px;
}

@media screen and (min-device-width: 1366px) and (max-device-width: 1601px) {
  .firstScreen .phoneBlock {
    width: 700px;
    left: 55%;
  }
  .firstScreen .downloadApp {
    right: 100px;
    bottom: 50px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    padding-top: 80px;
    padding-left: 80px;
  }
  .firstScreen .logoAndText .logo {
    width: 450px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 600px;
    font: 800 36px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 600px;
    font: 24px "Roboto";
    color: #fff;
  }

  .secondScreen .content .mainContent {
    padding: 30px 0;
  }
  .secondScreen .content .mainContent .text {
    margin-bottom: 30px;
  }
  .secondScreen .content .screenTitle {
    font: 800 36px "Roboto";
  }

  .thirdScreen .content, .fourthScreen .content, .fifthScreen .content {
    height: 100vh;
  }
  .thirdScreen .content .screenTitle, .fourthScreen .content .screenTitle, .fifthScreen .content .screenTitle {
    font: 800 48px "Roboto";
    margin-bottom: 30px;
  }
  .thirdScreen .content .sliderNav, .fourthScreen .content .sliderNav, .fifthScreen .content .sliderNav {
    width: 100px;
  }
  .thirdScreen .content .sliderNav .navItems, .fourthScreen .content .sliderNav .navItems, .fifthScreen .content .sliderNav .navItems {
    width: 75px;
    height: 75px;
  }
  .thirdScreen .content .sliderNav .navItems.activeNavItem, .fourthScreen .content .sliderNav .navItems.activeNavItem, .fifthScreen .content .sliderNav .navItems.activeNavItem {
    width: 100px;
    height: 100px;
  }
  .thirdScreen .content .sliderNav .navItems.activeNavItem p a, .fourthScreen .content .sliderNav .navItems.activeNavItem p a, .fifthScreen .content .sliderNav .navItems.activeNavItem p a {
    line-height: 100px;
  }
  .thirdScreen .content .sliderNav .navItems p a, .fourthScreen .content .sliderNav .navItems p a, .fifthScreen .content .sliderNav .navItems p a {
    line-height: 75px;
  }
  .thirdScreen .content .slider, .fourthScreen .content .slider, .fifthScreen .content .slider {
    width: 500px;
    height: 500px;
  }
  .thirdScreen .content .slider .slide, .fourthScreen .content .slider .slide, .fifthScreen .content .slider .slide {
    height: 450px;
  }
  .thirdScreen .content .slider .slide .imageWrapper, .fourthScreen .content .slider .slide .imageWrapper, .fifthScreen .content .slider .slide .imageWrapper {
    width: 300px;
    height: 300px;
  }
  .thirdScreen .content .slider .slide p, .fourthScreen .content .slider .slide p, .fifthScreen .content .slider .slide p {
    font: 24px "Roboto";
  }

  .sixthScreen .content .screenTitle, .eighthScreen .content .screenTitle {
    font: 800 48px "Roboto";
    margin: 30px 0;
  }
  .sixthScreen .content .carouselAndListBlock .applicationsList ul, .eighthScreen .content .carouselAndListBlock .applicationsList ul {
    padding: 0;
  }
  .sixthScreen .content .carouselAndListBlock .applicationsList ul li.applicationItem, .eighthScreen .content .carouselAndListBlock .applicationsList ul li.applicationItem {
    margin-bottom: 20px;
  }
  .sixthScreen .content .carouselAndListBlock .applicationsList ul li.applicationItem .applicationText p.title, .eighthScreen .content .carouselAndListBlock .applicationsList ul li.applicationItem .applicationText p.title {
    margin-bottom: 10px;
  }
  .sixthScreen .content .carouselAndListBlock .applicationsList ul li.applicationItem .applicationText p.title a, .eighthScreen .content .carouselAndListBlock .applicationsList ul li.applicationItem .applicationText p.title a {
    font: 800 14px "Roboto";
  }
  .sixthScreen .content .carouselAndListBlock .applicationsList ul li.applicationItem .applicationText p.description, .eighthScreen .content .carouselAndListBlock .applicationsList ul li.applicationItem .applicationText p.description {
    font: 14px "Roboto";
  }
  .sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate {
    width: 100px;
    margin-right: 20px;
  }
  .sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate .imageWrapper, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate .imageWrapper {
    width: 100px;
    height: 100px;
  }
  .sixthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate .date, .eighthScreen .content .carouselAndListBlock .applicationsList ul .applicationItem .applicationImageAndDate .date {
    font: 10px "Roboto";
  }
  .sixthScreen .carousel, .sixthScreen .carousel2, .eighthScreen .carousel, .eighthScreen .carousel2 {
    width: 400px;
  }
  .sixthScreen .carousel-cell img, .eighthScreen .carousel-cell img {
    width: 400px;
    height: 350px;
  }

  .ninthScreen .content .screenTitle {
    font: 800 36px "Roboto";
  }
  .ninthScreen .content form .formItem {
    margin-bottom: 20px;
  }
  .ninthScreen .content form .formItem p {
    width: 100px;
    max-width: 100px;
    font: 14px "Roboto";
  }
  .ninthScreen .content form .formItem .grayField {
    line-height: 30px;
    height: 40px;
  }
  .ninthScreen .content form .formItem input[type=button] {
    width: 150px;
    line-height: 40px;
    height: 40px;
    font: bold 14px "Roboto";
    padding: 5px 15px;
  }
  .ninthScreen .content form .formItem select.grayField {
    width: 455px;
  }
  .ninthScreen .content form .formItem textarea {
    width: 455px;
    height: 200px;
  }
  .ninthScreen .content form .formItem .input__wrapper {
    width: 100px;
    height: 100px;
  }
  .ninthScreen .content form .formItem .input__wrapper .input__file-button {
    width: 100px;
    height: 100px;
  }
  .ninthScreen .content form .formItem #map {
    width: 400px;
    height: 200px;
  }
  .ninthScreen .content form .formItem input[type=submit] {
    height: 50px;
    font: bold 14px "Roboto";
  }
}
@media screen and (min-device-width: 1280px) and (max-device-width: 1365px) {
  .firstScreen .phoneBlock {
    width: 700px;
    left: 55%;
  }
  .firstScreen .downloadApp {
    right: 100px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    padding-top: 100px;
    padding-left: 100px;
  }
  .firstScreen .logoAndText .logo {
    width: 400px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 500px;
    font: 800 32px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 500px;
    font: 24px "Roboto";
    color: #fff;
  }

  .secondScreen .content .mainContent {
    padding: 50px 0;
  }
  .secondScreen .content .mainContent .text {
    font: 24px "Roboto";
    margin-bottom: 30px;
  }
  .secondScreen .content .mainContent .circleWithImage {
    width: 150px;
    height: 150px;
  }
  .secondScreen .content .mainContent .circleWithImage img {
    min-width: 100px;
    max-width: 100px;
  }
  .secondScreen .content .screenTitle {
    font: 800 36px "Roboto";
  }

  .ninthScreen .content .screenTitle {
    font: 800 36px "Roboto";
  }
  .ninthScreen .content form .formItem {
    margin-bottom: 20px;
  }
  .ninthScreen .content form .formItem .grayField {
    line-height: 30px;
    height: 40px;
  }
  .ninthScreen .content form .formItem input[type=button] {
    width: 150px;
    line-height: 30px;
  }
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .firstScreen .phoneBlock {
    display: none;
  }
  .firstScreen .downloadApp {
    right: auto;
    left: 100px;
    bottom: 200px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .firstScreen .logoAndText .logo {
    width: 350px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 500px;
    font: 800 32px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 500px;
    font: 24px "Roboto";
    color: #fff;
    margin-bottom: 40px;
  }
  .firstScreen .downloadAppMobile {
    display: block;
  }
  .firstScreen .downloadApp {
    display: none;
  }

  .secondScreen .backgroundDecorations .backgroundCircle {
    width: 150px;
    height: 150px;
  }
  .secondScreen .content .mainContent {
    padding: 50px 0;
  }
  .secondScreen .content .mainContent .text {
    font: 24px "Roboto";
    margin-bottom: 30px;
  }
  .secondScreen .content .mainContent .circleWithImage {
    width: 150px;
    height: 150px;
  }
  .secondScreen .content .mainContent .circleWithImage img {
    min-width: 100px;
    max-width: 100px;
  }
  .secondScreen .content .screenTitle {
    font: 800 36px "Roboto";
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .firstScreen .phoneBlock {
    display: none;
  }
  .firstScreen .downloadApp {
    right: auto;
    left: 100px;
    bottom: 200px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .firstScreen .logoAndText .logo {
    width: 250px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 500px;
    font: 800 32px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 500px;
    font: 24px "Roboto";
    color: #fff;
  }
  .firstScreen .downloadAppMobile {
    display: block;
  }
  .firstScreen .downloadApp {
    display: none;
  }

  .secondScreen .backgroundDecorations .backgroundCircle {
    width: 150px;
    height: 150px;
  }
  .secondScreen .content .screenTitle {
    margin: 60px 0 30px 0;
  }
  .secondScreen .content .mainContent {
    padding: 30px 0;
  }
  .secondScreen .content .mainContent .text {
    font: 24px "Roboto";
    margin-bottom: 30px;
  }
  .secondScreen .content .mainContent .circleWithImage {
    width: 150px;
    height: 150px;
  }
  .secondScreen .content .mainContent .circleWithImage img {
    min-width: 100px;
    max-width: 100px;
  }
  .secondScreen .content .screenTitle {
    font: 800 36px "Roboto";
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .firstScreen .backgroundImageBlock .backgroundImage {
    min-width: 200%;
    max-width: 200%;
    height: 100%;
  }
  .firstScreen .phoneBlock {
    display: none;
  }
  .firstScreen .downloadApp {
    right: auto;
    left: 100px;
    bottom: 200px;
  }
  .firstScreen .downloadApp a {
    width: 175px;
  }
  .firstScreen .logoAndText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  .firstScreen .logoAndText .logo {
    width: 550px;
    margin: 0 auto 30px auto;
  }
  .firstScreen .logoAndText .title {
    width: 500px;
    font: 800 42px "Roboto";
    color: #fff;
  }
  .firstScreen .logoAndText .subtitle {
    width: 500px;
    font: 36px "Roboto";
    color: #fff;
    margin-bottom: 50px;
  }
  .firstScreen .downloadAppMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .firstScreen .downloadAppMobile a {
    width: 100%;
    margin-right: 0;
  }
  .firstScreen .downloadApp {
    display: none;
  }

  .secondScreen .backgroundDecorations .backgroundCircle {
    width: 150px;
    height: 150px;
  }
  .secondScreen .content .screenTitle {
    font: 800 48px "Roboto";
    margin: 60px 0 30px 0;
  }
  .secondScreen .content .mainContent {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
  }
  .secondScreen .content .mainContent .text {
    font: 24px "Roboto";
    margin-bottom: 30px;
  }
  .secondScreen .content .mainContent .circleWithImage {
    width: 150px;
    height: 150px;
  }
  .secondScreen .content .mainContent .circleWithImage img {
    min-width: 100px;
    max-width: 100px;
  }
  .secondScreen .content .mainContent .firstCol, .secondScreen .content .mainContent .secondCol, .secondScreen .content .mainContent .thirdCol, .secondScreen .content .mainContent .fourthCol {
    margin-bottom: 30px;
  }
  .secondScreen .content .mainContent .firstCol:last-child, .secondScreen .content .mainContent .secondCol:last-child, .secondScreen .content .mainContent .thirdCol:last-child, .secondScreen .content .mainContent .fourthCol:last-child {
    margin-bottom: 0;
  }
  .secondScreen .content .mainContent .firstCol p.number, .secondScreen .content .mainContent .secondCol p.number, .secondScreen .content .mainContent .thirdCol p.number, .secondScreen .content .mainContent .fourthCol p.number {
    font: 800 48px "Roboto";
    float: left;
    margin-bottom: 0;
    line-height: 50px;
  }
  .secondScreen .content .mainContent .firstCol p.text, .secondScreen .content .mainContent .secondCol p.text, .secondScreen .content .mainContent .thirdCol p.text, .secondScreen .content .mainContent .fourthCol p.text {
    font: 36px "Roboto";
    margin-bottom: 15px;
    line-height: 36px;
    height: 50px;
  }
  .thirdScreen .content, .fourthScreen .content, .fifthScreen .content {
    flex-direction: column;
    padding: 30px;
  }
  .thirdScreen .content .SliderNavigation, .fourthScreen .content .SliderNavigation, .fifthScreen .content .SliderNavigation {
    height: auto;
    margin-bottom: 30px;
  }
  .thirdScreen .content .SliderNavigation .sliderNav, .fourthScreen .content .SliderNavigation .sliderNav, .fifthScreen .content .SliderNavigation .sliderNav {
    width: 400px;
    flex-direction: row;
  }
  .thirdScreen .content .SliderNavigation .sliderNav .navItems, .fourthScreen .content .SliderNavigation .sliderNav .navItems, .fifthScreen .content .SliderNavigation .sliderNav .navItems {
    margin-bottom: 25px;
    margin-right: 30px;
  }

  .sixthScreen .carousel, .sixthScreen .carousel2, .eighthScreen .carousel, .eighthScreen .carousel2 {
    width: 400px;
  }
  .sixthScreen .content .carouselAndListBlock, .eighthScreen .content .carouselAndListBlock {
    flex-direction: column;
  }
  .sixthScreen .content .carouselAndListBlock .carouselWrapper, .eighthScreen .content .carouselAndListBlock .carouselWrapper {
    margin: 0 auto;
  }
  .sixthScreen .content .carouselAndListBlock .decorationLine, .eighthScreen .content .carouselAndListBlock .decorationLine {
    width: 100%;
    height: 20px;
    margin: 0;
  }
  .sixthScreen .content .carouselAndListBlock .decorationLine .line, .eighthScreen .content .carouselAndListBlock .decorationLine .line {
    width: 100%;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sixthScreen .content .carouselAndListBlock .decorationLine .circle.first, .eighthScreen .content .carouselAndListBlock .decorationLine .circle.first {
    left: 0;
  }
  .sixthScreen .content .carouselAndListBlock .decorationLine .circle.last, .eighthScreen .content .carouselAndListBlock .decorationLine .circle.last {
    left: auto;
    right: 0;
    transform: none;
  }
  .sixthScreen .content .carouselAndListBlock .decorationLine .circle.second, .sixthScreen .content .carouselAndListBlock .decorationLine .circle.third, .eighthScreen .content .carouselAndListBlock .decorationLine .circle.second, .eighthScreen .content .carouselAndListBlock .decorationLine .circle.third {
    display: none;
  }
  .sixthScreen .carousel-cell img, .eighthScreen .carousel-cell img {
    width: 400px;
    height: 350px;
  }

  .seventhScreen .content .background img {
    min-width: 300%;
    max-width: 300%;
    height: 100%;
  }
}