@import "reset";

$title: 800 54px 'Roboto';
$red: #c91a03;
$yellow: #F7AD3D;
$green: #80B808;
$coral: #f7533d;
$dark: #272727;

.screen {
    height: 100vh;
    background: #fff;
}

.pp-section {
    top: 0;
}

.firstScreen {
    position: relative;

    .backgroundImageBlock {
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        z-index: -1;

        .colorImage {
            width: 100%;
            height: 100%;
            min-height: 100%;
            background-color: rgba(175,34,34,0.3);
            position: absolute;
            z-index: 100;
        }

        .backgroundImage {
            min-width: 100%;
            max-width: 100%;
        }

        .mask {
            width: 100%;
            position: absolute;
            bottom: -5px;
            z-index: 101;

            img {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }

    .logoAndText {
        padding-top: 150px;
        padding-left: 100px;

        a {
            width: 450px;
            height: 200px;
        }

        .logo {
            width: 450px;
            margin: 0 auto 30px auto;
        }

        .title {
            width: 600px;
            font: $title;
            color: #fff;
        }

        .subtitle {
            width: 600px;
            font: 36px 'Roboto';
            color: #fff;
        }
    }

    .phoneBlock {
        width: 1000px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);

        img {
            min-width: 100%;
            max-width: 100%;
        }

    }

    .downloadAppMobile {
        display: none;

        a {
            width: 250px;
            display: inline-block;

            &:first-child {
                margin-right: 30px;
            }

            img {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }

    .downloadApp {
        position: absolute;
        right: 200px;
        bottom: 150px;

        a {
            width: 250px;
            display: inline-block;

            &:first-child {
                margin-right: 30px;
            }

            img {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
}

.secondScreen {
    .backgroundDecorations {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;

        .backgroundLine {
            width: 30px;
            height: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(180deg, $red, $coral);
        }

        .backgroundCircle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: linear-gradient(270deg, $red, $coral);
            position: absolute;
            top: -50px;
            right: -50px;
        }
    }

    .content {
        padding: 0 50px;

        .screenTitle {
            font: $title;
            text-align: center;
            margin: 60px 0;
        }

        .mainContent {
            padding: 100px 0;

            .number {
                color: $red;
                font: 800 48px 'Roboto';
                text-align: center;
                margin-bottom: 20px;
            }

            .text  {
                text-align: center;
                font: 28px 'Roboto';
                height: 80px;
            }

            .circleWithImage {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background: $coral;
                box-shadow: 0 0 5px $dark;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                img {
                    min-width: 125px;
                    max-width: 125px;

                }
            }
        }

        .firstCol, .secondCol, .thirdCol, .fourthCol {
            .number, .text {
                opacity: 0;
                transform: translateY(-20px);
                transition: transform 1s ease-in-out;
            }

            .circleWithImage {
                opacity: 0;
                transform: scale(0) translateY(50px);
                transition: 1s ease-in-out;
            }
        }
    }
}

.thirdScreen, .fourthScreen, .fifthScreen {
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;

        .SliderNavigation {
            width: 500px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 50px;
        }

        .screenTitle {
            width: 500px;
            font: 800 54px "Roboto";
            text-align: center;
            margin-bottom: 50px;
        }

        .sliderNav {
            width: 125px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .navItems {
                width: 100px;
                height: 100px;
                background: #eeeeee;
                border-radius: 50%;
                font: 800 48px "Roboto";
                color: #bebebe;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 25px;
                cursor: pointer;
                opacity: 0;
                transition: 0.25s ease-in-out;

                p {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: 100px;
                        color: #ffffff;
                        text-decoration: none;
                    }
                }

                &:hover {
                    background: #f7533dA0;

                    p {
                        color: #fff;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &.activeNavItem {
                    background: $coral;
                    color: #ffffff;
                    width: 125px;
                    height: 125px;
                    box-shadow: 0 0 10px $coral;

                    p {
                        a {
                            line-height: 125px;
                        }
                    }
                }
            }
        }

        .slider {
            width: 830px;
            height: 830px;
            border: 15px solid $coral;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            margin: 0 auto;
            box-shadow: 0 8px 10px rgba(0,0,0,0.25);
            transition: 1s ease-in-out;
            transform: scale(0);

            .sliderWrapper {
                width: 100%;
                position: absolute;
            }

            &.red {
                border-color: $coral;
            }
            &.yellow {
                border-color: $yellow;
            }
            &.green {
                border-color: $green;
            }

            .slide {
                height: 800px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                opacity: 0;
                padding: 20px;
                overflow: hidden;

                p {
                    text-align: center;
                    font: 48px 'Roboto';
                    color: $dark;
                    margin-bottom: 0;
                }

                .imageWrapper {
                    width: 600px;
                    height: 600px;
                    margin: 0 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        min-width: 100%;
                        max-width: 100%;
                    }
                }


                &.active {
                    opacity: 1;
                }
            }
        }
    }
}

.sixthScreen, .eighthScreen {
    .content {
        padding: 0 50px;
        .screenTitle {
            font: $title;;
            text-align: center;
            margin: 60px 0;
        }

        .carouselAndListBlock {
            display: flex;
            flex-direction: row;
            /*align-items: center;*/

            .carouselWrapper {
                display: flex;
                align-items: center;

                .applicationNumber {
                    color: $dark;
                    font: 24px "Roboto";
                    text-align: center;
                    margin: 10px 0;
                }
            }

            .decorationLine {
                width: 20px;
                position: relative;
                margin: 0 30px;

                &.red {
                    .line, .circle {
                        background: $coral;
                    }
                }

                &.green {
                    .line, .circle {
                        background: $green;
                    }
                }

                .line {
                    width: 10px;
                    height: 100%;
                    border-radius: 10px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .circle {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);

                    &.first {
                        top: 0;
                    }

                    &.second {
                        top: 33%;
                    }

                    &.third {
                        top: 66%;
                    }

                    &.last {
                        top: calc(100% - 20px);
                    }
                }
            }

            .applicationsList {
                ul {
                    margin: 0;
                    padding: 30px;
                    list-style: none;

                    .applicationItem {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 50px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .applicationImageAndDate {
                            width: 150px;
                            margin-right: 50px;

                            .imageWrapper {
                                width: 150px;
                                height: 150px;
                                border-radius: 5px;
                            }

                            img {
                                height: 100%;
                                border-radius: 5px;
                                min-width: 100%;
                                max-width: 100%;
                            }

                            .date {
                                text-align: center;
                                color: $dark;
                                font: 100 14px "Roboto";
                                margin: 0;
                            }
                        }

                        .applicationText {
                            p.title {
                                margin-bottom: 15px;

                                &.green {
                                    a {
                                        color: $green;
                                    }
                                }

                                a {
                                    color: $coral;
                                    font: 800 18px "Roboto";
                                }
                            }

                            p.description {
                                margin-bottom: 0;
                                color: #000;
                                font: 18px "Roboto";
                            }
                        }
                    }
                }

                form.showMoreForm {
                    margin-top: 10px;

                    .showMoreButton {
                        display: block;
                        width: 50%;
                        margin: 0 auto;
                        padding: 10px;
                        line-height: 50px;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        background: linear-gradient(-90deg, $red, $coral);
                        color: #ffffff;
                        font: 24px "Roboto";
                    }
                }
            }
        }
    }

    .carousel, .carousel2 {
        width: 600px;
    }

    .carousel-cell {
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
    }

    .carousel-cell img {
        width: 600px;
        border-radius: 30px;
        display: block;
        height: 550px;
    }

    .flickity-viewport {
        position: relative;
    }



    .flickity-slider img {
        max-width: none;
    }

    .flickity-page-dots {
        position: absolute;
        bottom: 50px;

        .dot {
            width: 30px;
            height: 30px;
            border: 5px solid #ffffff;
            background-color: #ffffff;

            &.is-selected {
                background-color: $coral;
            }
        }
    }

    .carousel2 {
        .flickity-page-dots {
            .dot {
                &.is-selected {
                    background-color: $green;
                }
            }
        }
    }
}

.seventhScreen {
    overflow: hidden;
    .content {
        height: 100vh;
        position: relative;

        .background {
            position: relative;

            img {
                min-width: 100%;
                max-width: 100%;
            }

            &:before {
                content: "";
                width: 100%;
                height: 100vh;
                background-color: rgba(201,26,3,0.3);
                position: absolute;
                top: 0;
            }
        }

        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);



            p {
                color: #ffffff;
                font: 800 54px "Roboto";
                text-align: center;
            }
        }
    }
}

.ninthScreen {
    .content {
        padding: 0 50px;

        .screenTitle {
            font: $title;;
            text-align: center;
            margin: 60px 0;
        }

        form {
            display: flex;
            flex-direction: row;

            .firstCol {
                margin-right: 50px;
            }

            .formItem {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin-bottom: 30px;

                p {
                    width: 150px;
                    max-width: 150px;
                    font: 18px "Roboto";
                    margin: 0 20px 0 0;
                    padding: 5px 0;
                }

                .grayField {
                    width: 300px;
                    background: #eeeeee;
                    border-radius: 5px;
                    line-height: 40px;
                    height: 50px;
                    border: none;
                    outline: none;
                    padding: 5px 10px;
                }

                select.grayField {
                    width: 505px;
                }

                input[type="button"] {
                    width: 200px;
                    margin-left: 5px;
                    font: bold 18px "Roboto";
                    border: none;
                    outline: none;
                    background: $coral;
                    border-radius: 5px;
                    color: #ffffff;
                    padding: 5px 20px;
                    line-height: 40px;

                    &.green {
                        background: $green;
                    }
                }

                textarea {
                    width: 505px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    background: #eeeeee;
                    padding: 5px;
                }

                input[type="submit"] {
                    width: 100%;
                    font: bold 18px "Roboto";
                    height: 60px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    background: linear-gradient(-90deg, $red, $coral);
                    color: #ffffff;
                }
            }
        }
    }
}

@media screen and (min-device-width: 1366px) and (max-device-width: 1601px) {
    .firstScreen {
        .phoneBlock {
            width: 700px;
            left: 55%;
        }

        .downloadApp {
            right: 100px;
            bottom: 50px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            padding-top: 100px;
            padding-left: 100px;

            .logo {
                width: 450px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 600px;
                font: 800 36px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 600px;
                font: 24px 'Roboto';
                color: #fff;
            }
        }
    }

    .secondScreen {
        .content {
            .mainContent {
                padding: 30px 0;

                .text {
                    margin-bottom: 30px;
                }
            }

            .screenTitle {
                font: 800 36px "Roboto";
            }
        }
    }

    .thirdScreen, .fourthScreen, .fifthScreen {
        .content {
            height: 100vh;

            .screenTitle {
                font: 800 48px "Roboto";
                margin-bottom: 30px;
            }

            .sliderNav {
                width: 100px;

                .navItems {
                    width: 75px;
                    height: 75px;

                    &.activeNavItem {
                        width: 100px;
                        height: 100px;

                        p {
                            a {
                                line-height: 100px;
                            }
                        }
                    }

                    p {
                        a {
                            line-height: 75px;
                        }
                    }
                }
            }

            .slider {
                width: 500px;
                height: 500px;

                .slide {
                    height: 450px;

                    .imageWrapper {
                        width: 300px;
                        height: 300px;
                    }

                    p {
                        font: 24px "Roboto";
                    }
                }
            }
        }
    }

    .sixthScreen, .eighthScreen {
        .content {
            .screenTitle {
                font: 800 48px "Roboto";
                margin: 30px 0;
            }

            .carouselAndListBlock .applicationsList ul {
                padding: 0;

                li.applicationItem {
                    margin-bottom: 20px;

                    .applicationText {
                        p.title {
                            margin-bottom: 10px;

                            a {
                                font: 800 14px "Roboto";
                            }
                        }

                        p.description {
                            font: 14px "Roboto";
                        }
                    }
                }

                .applicationItem .applicationImageAndDate {
                    width: 100px;
                    margin-right: 20px;

                    .imageWrapper {
                        width: 100px;
                        height: 100px;
                    }

                    .date {
                        font: 10px "Roboto";
                    }
                }
            }
        }

        .carousel, .carousel2 {
            width: 400px;
        }

        .carousel-cell img {
            width: 400px;
            height: 350px;
        }
    }
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1365px) {
    .firstScreen {
        .phoneBlock {
            width: 700px;
            left: 55%;
        }

        .downloadApp {
            right: 100px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            padding-top: 100px;
            padding-left: 100px;

            .logo {
                width: 450px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 600px;
                font: 800 36px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 600px;
                font: 28px 'Roboto';
                color: #fff;
            }
        }
    }

    .secondScreen {
        .content {
            .mainContent {
                padding: 50px 0;

                .text {
                    font: 24px 'Roboto';
                    margin-bottom: 30px;
                }

                .circleWithImage {
                    width: 150px;
                    height: 150px;

                    img {
                        min-width: 100px;
                        max-width: 100px;
                    }
                }
            }

            .screenTitle {
                font: 800 36px "Roboto";
            }
        }
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
    .firstScreen {
        .phoneBlock {
            display: none;
        }

        .downloadApp {
            right: auto;
            left: 100px;
            bottom: 200px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            position: absolute;
            top: 50px;
            left: 100px;

            .logo {
                width: 350px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 500px;
                font: 800 32px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 500px;
                font: 24px 'Roboto';
                color: #fff;
                margin-bottom: 40px;
            }
        }

        .downloadAppMobile {
            display: block;
        }

        .downloadApp {
            display: none;
        }
    }

    .secondScreen {
        .backgroundDecorations .backgroundCircle {
            width: 150px;
            height: 150px;
        }
        .content {
            .mainContent {
                padding: 50px 0;

                .text {
                    font: 24px 'Roboto';
                    margin-bottom: 30px;
                }

                .circleWithImage {
                    width: 150px;
                    height: 150px;

                    img {
                        min-width: 100px;
                        max-width: 100px;
                    }
                }
            }

            .screenTitle {
                font: 800 36px "Roboto";
            }
        }
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .firstScreen {
        .phoneBlock {
            display: none;
        }

        .downloadApp {
            right: auto;
            left: 100px;
            bottom: 200px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            position: absolute;
            top: 50px;
            left: 100px;

            .logo {
                width: 250px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 500px;
                font: 800 32px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 500px;
                font: 24px 'Roboto';
                color: #fff;
            }
        }

        .downloadAppMobile {
            display: block;
        }

        .downloadApp {
            display: none;
        }
    }

    .secondScreen {
        .backgroundDecorations .backgroundCircle {
            width: 150px;
            height: 150px;
        }

        .content {
            .screenTitle {
                margin: 60px 0 30px 0;
            }
            .mainContent {
                padding: 30px 0;

                .text {
                    font: 24px 'Roboto';
                    margin-bottom: 30px;
                }

                .circleWithImage {
                    width: 150px;
                    height: 150px;

                    img {
                        min-width: 100px;
                        max-width: 100px;
                    }
                }
            }

            .screenTitle {
                font: 800 36px "Roboto";
            }
        }
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .firstScreen {
        .phoneBlock {
            display: none;
        }

        .downloadApp {
            right: auto;
            left: 100px;
            bottom: 200px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            position: absolute;
            top: 50px;
            left: 100px;

            .logo {
                width: 250px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 500px;
                font: 800 32px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 500px;
                font: 24px 'Roboto';
                color: #fff;
            }
        }

        .downloadAppMobile {
            display: block;
        }

        .downloadApp {
            display: none;
        }
    }

    .secondScreen {
        .backgroundDecorations .backgroundCircle {
            width: 150px;
            height: 150px;
        }

        .content {
            .screenTitle {
                margin: 60px 0 30px 0;
            }
            .mainContent {
                padding: 30px 0;

                .text {
                    font: 24px 'Roboto';
                    margin-bottom: 30px;
                }

                .circleWithImage {
                    width: 150px;
                    height: 150px;

                    img {
                        min-width: 100px;
                        max-width: 100px;
                    }
                }
            }

            .screenTitle {
                font: 800 36px "Roboto";
            }
        }
    }
}