@import "reset";

$title: 800 54px 'Roboto';
$red: #c91a03;
$coral: #f7533d;
$dark: #272727;

.screen {
    height: 100vh;
}

.pp-section {
    top: 0;
}

.firstScreen {
    position: relative;

    .backgroundImageBlock {
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        z-index: -1;

        .colorImage {
            width: 100%;
            height: 100%;
            min-height: 100%;
            background-color: rgba(175,34,34,0.3);
            position: absolute;
            z-index: 100;
        }

        .backgroundImage {
            min-width: 100%;
            max-width: 100%;
        }

        .mask {
            width: 100%;
            position: absolute;
            bottom: -5px;
            z-index: 101;

            img {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }

    .logoAndText {
        padding-top: 150px;
        padding-left: 100px;

        .logo {
            width: 450px;
            margin: 0 auto 30px auto;
        }

        .title {
            width: 600px;
            font: $title;
            color: #fff;
        }

        .subtitle {
            width: 600px;
            font: 36px 'Roboto';
            color: #fff;
        }
    }

    .phoneBlock {
        width: 1000px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);

        img {
            min-width: 100%;
            max-width: 100%;
        }

    }

    .downloadAppMobile {
        display: none;

        a {
            width: 250px;
            display: inline-block;

            &:first-child {
                margin-right: 30px;
            }

            img {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }

    .downloadApp {
        position: absolute;
        right: 200px;
        bottom: 150px;

        a {
            width: 250px;
            display: inline-block;

            &:first-child {
                margin-right: 30px;
            }

            img {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
}

.secondScreen {
    .backgroundDecorations {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;

        .backgroundLine {
            width: 30px;
            height: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(180deg, $red, $coral);
        }

        .backgroundCircle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: linear-gradient(270deg, $red, $coral);
            position: absolute;
            top: -50px;
            right: -50px;
        }
    }

    .content {
        padding: 0 50px;

        .screenTitle {
            font: $title;
            text-align: center;
            margin: 60px 0;
        }

        .mainContent {
            padding: 100px 0;

            .number {
                color: $red;
                font: 800 48px 'Roboto';
                text-align: center;
                margin-bottom: 20px;
            }

            .text  {
                text-align: center;
                font: 28px 'Roboto';
                height: 80px;
            }

            .circleWithImage {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background: $coral;
                box-shadow: 0 0 5px $dark;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                img {
                    min-width: 125px;
                    max-width: 125px;

                }
            }
        }

        .firstCol, .secondCol, .thirdCol, .fourthCol {
            .number, .text {
                opacity: 0;
                transform: translateY(-20px);
                transition: transform 1s ease-in-out;
            }

            .circleWithImage {
                opacity: 0;
                transform: scale(0) translateY(50px);
                transition: 1s ease-in-out;
            }
        }
    }
}

@media screen and (min-device-width: 1367px) and (max-device-width: 1601px) {
    .firstScreen {
        .phoneBlock {
            width: 700px;
            left: 55%;
        }

        .downloadApp {
            right: 100px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            padding-top: 100px;
            padding-left: 100px;

            .logo {
                width: 450px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 600px;
                font: 800 36px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 600px;
                font: 28px 'Roboto';
                color: #fff;
            }
        }
    }
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1365px) {
    .firstScreen {
        .phoneBlock {
            width: 700px;
            left: 55%;
        }

        .downloadApp {
            right: 100px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            padding-top: 100px;
            padding-left: 100px;

            .logo {
                width: 450px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 600px;
                font: 800 36px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 600px;
                font: 28px 'Roboto';
                color: #fff;
            }
        }
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
    .firstScreen {
        .phoneBlock {
            display: none;
        }

        .downloadApp {
            right: auto;
            left: 100px;
            bottom: 200px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            position: absolute;
            top: 50px;
            left: 100px;

            .logo {
                width: 350px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 500px;
                font: 800 32px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 500px;
                font: 24px 'Roboto';
                color: #fff;
                margin-bottom: 40px;
            }
        }

        .downloadAppMobile {
            display: block;
        }

        .downloadApp {
            display: none;
        }
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .firstScreen {
        .phoneBlock {
            display: none;
        }

        .downloadApp {
            right: auto;
            left: 100px;
            bottom: 200px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            position: absolute;
            top: 50px;
            left: 100px;

            .logo {
                width: 250px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 500px;
                font: 800 32px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 500px;
                font: 24px 'Roboto';
                color: #fff;
            }
        }

        .downloadAppMobile {
            display: block;
        }

        .downloadApp {
            display: none;
        }
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .firstScreen {
        .phoneBlock {
            display: none;
        }

        .downloadApp {
            right: auto;
            left: 100px;
            bottom: 200px;

            a {
                width: 175px;
            }
        }

        .logoAndText {
            position: absolute;
            top: 50px;
            left: 100px;

            .logo {
                width: 250px;
                margin: 0 auto 30px auto;
            }

            .title {
                width: 500px;
                font: 800 32px 'Roboto';
                color: #fff;
            }

            .subtitle {
                width: 500px;
                font: 24px 'Roboto';
                color: #fff;
            }
        }

        .downloadAppMobile {
            display: block;
        }

        .downloadApp {
            display: none;
        }
    }
}